{% extends 'base.html.twig' %} {% block title %}Accueil - Recette{% endblock %}
{% block body %}
<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur l'appli Recettes</h1>
    <p class="lead">
      Recettes est une application qui va permettre de créer des recettes à base
      d'ingrédients que tu auras toi-même créer. <br>Tu pourras partager tes
      recettes à la communauté du site, ou bien les garder en privées.
    </p>
    <hr class="my-4" />

    <p>Pour commencer renez-vous sur la page d'inscription de l'application.</p>
    <a class="btn btn-warning" href="#" role="button">Inscription</a>
  </div>
</div>
{% endblock %}
