<nav class="navbar navbar-expand-lg bg-warning" data-bs-theme="warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Appli Recettes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{{path('app_ingredient_index')}}">Ingredients
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
