<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Bienvenue{% endblock title %}</title>

    {% block stylesheets %}
    <!-- CDN CSS BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    {% endblock stylesheets %}
  </head>
  <body>
    {% block header %} {%include "partials/_header.html.twig"%} {% endblock %}
    <!-- Mise en place d’une class "container" pour restreindre le body -->
    <div class="container">
      {% block body %}
      <div class="container mt-4">
        <div class="jumbotron">
          <h1 class="display-4">Bienvenue sur SymRecipe</h1>
          <p class="lead">
            recettes est une application qui va permettre de créer des recettes
            à base d'ingrédients que tu auras toi-même créer. Tu pourras
            partager tes recettes à la communauté du site, ou bien les garder en
            privées.
          </p>
          <hr class="my-4" />

          <p>
            Pour commencer renez-vous sur la page d'inscription de
            l'application.
          </p>
          <a class="btn btn-primary btn-lg" href="#" role="button"
            >Inscription</a
          >
        </div>
      </div>
      {% endblock body %}
    </div>
    <!-- FIN de la div du container -->

    {% block javascripts %}
    <!-- CDN JS BOOTSTRAP -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    {% endblock javascripts %}
  </body>
</html>
